<li><table><tr>
<td><%=data.name%></td>
<td><%=data.regDate></td>
<td><a href='#'>삭제</a></td>
</tr><tr>
		"<td colspan='3'>" + vo.message.replace( /\r\n/g, "<br>").replace( /\n/g, "<br>") + "</td>" +
		"</tr></table></li>"